@inherits LayoutComponentBase

<FluentLayout>
    <FluentDesignTheme @bind-Mode="@Mode" @bind-OfficeColor="@OfficeColor" StorageName="theme" />
    <FluentHeader>
        <FluentLabel Typo="Typography.H2">Comandos</FluentLabel>

        <FluentSpacer />
        <img src="img\logo.svg" width="250" />
        <FluentSpacer Width="30" />
        <FluentIcon Value=@IconTheme Color="@Color.Neutral" OnClick="ChangeTheme" />
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
        <FluentToastProvider MaxToastCount="10" Position="ToastPosition.TopRight" Timeout="1500" />
    </FluentStack>
    <FluentFooter>
        <a href="http://www.nucleomap.com.br" target="_blank">Núcleo MAP</a>
        <FluentSpacer />
        <a href="https://emersonmrbr.github.io/portfolio1/" target="_blank">Github</a>
    </FluentFooter>
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
@code {
    public DesignThemeModes Mode { get; set; }
    public OfficeColor? OfficeColor { get; set; }
    public Icon IconTheme = new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size28.WeatherMoon();
    void OnLoaded(LoadedEventArgs e)
    {
        Mode = DesignThemeModes.Dark;
    }
    void ChangeTheme()
    {
        if (DesignThemeModes.Dark == Mode)
        {
            Mode = DesignThemeModes.Light;
            IconTheme = new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size28.ArrowClockwiseDashesSettings();
        }
        else
        {
            Mode = DesignThemeModes.Dark;
            IconTheme = new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.DarkTheme();
        }
    }

}