@page "/terminal/sistema"
@inject IJSRuntime JSRuntime
@inject IToastService ToastService

<h2 Severity="Severity.Info">
    Comandos para Sistema
</h2>

@foreach (var card in cardContents)
{
    <FluentGrid Justify="JustifyContent.FlexStart" Style="background-color: var(--neutral-layer-3); padding: 24px;">
        <FluentCard MinimalStyle="true" Height="auto">
            <h4>@card.Title</h4>
            <FluentGridItem Justify="JustifyContent.FlexStart" style="padding: 20px">
                <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Copy())" OnClick='()=>CopyText(card.Command)' />
                <FluentBadge Appearance="Appearance.Neutral" OnClick='()=>CopyText(card.Command)'>
                    @card.Command
                </FluentBadge>
            </FluentGridItem>
            <p>@card.Description</p>
        </FluentCard>
    </FluentGrid>
}

@code {

    List<CardContent> cardContents = new()
{
   new (){Title = "Ver informações do sistema", Command="systeminfo", Description= "Use o comando para exibir informações detalhadas sobre o sistema."},
   new (){Title = "Limpar tela", Command="cls", Description= "Use o comando para limpar a tela do terminal."},
   new (){Title = "Ver tarefas em execução", Command="tasklist", Description= "Use o comando para exibir todas as tarefas em execução no sistema."},
   new (){Title = "Finalizar tarefa", Command="taskkill /IM [nome-do-processo] /F", Description= "Use o comando para finalizar uma tarefa específica."},
   new (){Title = "Verificar e reparar disco", Command="chkdsk", Description= "Use o comando para verificar e reparar erros no disco."},
   new (){Title = "Formatar disco", Command="format [unidade:]", Description= "Use o comando para formatar um disco."},
   new (){Title = "Abrir editor de registro", Command="regedit", Description= "Use o comando para abrir o Editor de Registro do Windows."},
   new (){Title = "Abrir gerenciador de tarefas", Command="taskmgr", Description= "Use o comando para abrir o Gerenciador de Tarefas."},
   new (){Title = "Ver versão do Windows", Command="ver", Description= "Use o comando para exibir a versão do Windows."},
   new (){Title = "Desligar sistema", Command="shutdown /s", Description= "Use o comando para desligar o sistema."},
   new (){Title = "Reiniciar sistema", Command="shutdown /r", Description= "Use o comando para reiniciar o sistema."},
   new (){Title = "Gerenciar serviços", Command="sc", Description= "Use o comando para gerenciar serviços do Windows."},
   new (){Title = "Ver propriedades do sistema", Command="msinfo32", Description= "Use o comando para abrir a janela de Propriedades do Sistema."}
};

    public class CardContent()
    {
        public string Title = string.Empty;
        public string Command = string.Empty;
        public string Description = string.Empty;
    }

    public async Task CopyText(string command)
    {
        await JSRuntime.InvokeVoidAsync("copyToClipboard", command);
        ToastService.ShowToast(ToastIntent.Success, $"[ {command} ] Copied!");
    }
}