@page "/git/stash"
@inject IJSRuntime JSRuntime
@inject IToastService ToastService

<h2 Severity="Severity.Info">
    Comando git stash
</h2>


<p>
    O comando <code>git stash</code> é usado para armazenar temporariamente alterações no seu diretório de trabalho (working directory) que ainda não foram commitadas. Ele permite que você "guarde" essas mudanças em uma "pilha" (stash) para que você possa retornar a um estado limpo do repositório e, mais tarde, recuperar essas alterações quando necessário.
</p>

<h2 Severity="Severity.Info">Quando Usar <code>git stash</code>?</h2>
<p>
    É útil quando você está trabalhando em uma funcionalidade ou correção de bug, mas precisa interromper seu trabalho temporariamente (por exemplo, para mudar de branch ou atualizar seu repositório local), mas não quer fazer um commit ainda. O <code>git stash</code> permite que você volte para um estado limpo do repositório e depois recupere as alterações quando for conveniente.
</p>

<h2 Severity="Severity.Info">
    Como Funciona o <code>git stash</code>?
</h2>

@foreach (var card in cardContents)
{
    <FluentGrid Justify="JustifyContent.FlexStart" Style="background-color: var(--neutral-layer-3); padding: 24px;">
        <FluentCard MinimalStyle="true" Height="auto">
            <h4>@card.Title</h4>
            <FluentGridItem Justify="JustifyContent.FlexStart" style="padding: 20px">
                <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Copy())" OnClick='()=>CopyText(card.Command)' />
                <FluentBadge Appearance="Appearance.Neutral" OnClick='()=>CopyText(card.Command)'>
                    @card.Command
                </FluentBadge>
            </FluentGridItem>
            <p>@card.Description</p>
        </FluentCard>
    </FluentGrid>
}

<h2 Severity="Severity.Info">
    Exemplo de Fluxo de Trabalho com <code>git stash</code>:
</h2>

<p>
    Você precisa mudar para outra branch rapidamente, então usa:
    <pre><code>git stash</code></pre>
</p>

<h2 Severity="Severity.Info">
    Após terminar o trabalho na outra branch, você pode retornar à branch original e aplicar as mudanças armazenadas:"
</h2>
<p>
    <pre><code>git stash pop</code></pre>
</p>


<p>
    O <code>git stash</code> é uma ferramenta poderosa para gerenciar mudanças temporárias, permitindo que você seja flexível e trabalhe de maneira mais eficiente sem perder seu progresso em andamento.
</p>

@code {

    List<CardContent> cardContents = new()
    {
        new (){Title = "Salvar Alterações em Stash", Command="git stash", Description= "Salva temporariamente todas as alterações no diretório de trabalho e no staging, permitindo que você trabalhe em outra coisa sem perder seu progresso atual."},
        new (){Title = "Listar Stashes", Command="git stash list", Description= "Exibe uma lista de todas as stashes salvas, mostrando informações como a mensagem, o hash e a referência do stash."},
        new (){Title = "Aplicar Stash Mais Recente", Command="git stash apply", Description= "Aplica o stash mais recente ao diretório de trabalho atual, mantendo o stash na lista."},
        new (){Title = "Aplicar Stash por Nome", Command="git stash apply [stash@{n}]", Description= "Aplica um stash específico ao diretório de trabalho atual, mantendo o stash na lista."},
        new (){Title = "Aplicar e Remover Stash Mais Recente", Command="git stash pop", Description= "Aplica o stash mais recente ao diretório de trabalho atual e remove-o da lista de stashes."},
        new (){Title = "Aplicar e Remover Stash por Nome", Command="git stash pop [stash@{n}]", Description= "Aplica um stash específico ao diretório de trabalho atual e remove-o da lista de stashes."},
        new (){Title = "Remover Stash Específico", Command="git stash drop [stash@{n}]", Description= "Remove um stash específico da lista de stashes, sem aplicá-lo."},
        new (){Title = "Remover Todos os Stashes", Command="git stash clear", Description= "Remove todos os stashes salvos da lista, sem aplicá-los."},
        new (){Title = "Criar Stash com Mensagem", Command="git stash save \"mensagem\"", Description= "Salva as alterações em um novo stash com uma mensagem descritiva para fácil identificação."},
        new (){Title = "Criar Stash de Arquivos Não Rastreáveis", Command="git stash -u", Description= "Salva temporariamente todas as alterações, incluindo arquivos não rastreados, permitindo que você trabalhe em outra coisa sem perder seu progresso atual."},
        new (){Title = "Criar Stash de Arquivos Ignorados", Command="git stash -a", Description= "Salva temporariamente todas as alterações, incluindo arquivos ignorados, permitindo que você trabalhe em outra coisa sem perder seu progresso atual."},
        new (){Title = "Mostrar Diferenças de um Stash", Command="git stash show [stash@{n}]", Description= "Mostra as diferenças entre o stash especificado e o estado atual do diretório de trabalho."},
        new (){Title = "Mostrar Diferenças Detalhadas de um Stash", Command="git stash show -p [stash@{n}]", Description= "Mostra as diferenças detalhadas entre o stash especificado e o estado atual do diretório de trabalho."},
    };

    public class CardContent()
    {
        public string Title = string.Empty;
        public string Command = string.Empty;
        public string Description = string.Empty;
    }

    public async Task CopyText(string command)
    {
        await JSRuntime.InvokeVoidAsync("copyToClipboard", command);
        ToastService.ShowToast(ToastIntent.Success, $"[ {command} ] Copied!");
    }
}